header.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ff385c !important;
}

.nav-link {
    font-weight: 500;
    transition: .2s;
}

.nav-link:hover {
    color: #ff385c !important;
}